aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
brotlipy
certifi
cffi
charset-normalizer
colorama
cryptography
dataclasses-json
frozenlist
greenlet
idna
langchain
marshmallow
marshmallow-enum
mkl-fft
mkl-random
mkl-service
multidict
mypy-extensions
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pycparser
pydantic
pyOpenSSL
PySocks
python-dotenv
PyYAML
regex
requests
six
soupsieve
SQLAlchemy
stringcase
tenacity
tiktoken
tqdm
typing
typing-inspect
typing_extensions
urllib3
yarl
